<% content_for :title, page_title(@post.title) %>

<article class="space-y-8">
  <div class="space-y-4">
    <header class="space-y-5">
      <p class="text-sm text-stone-500"><%= format_publish_date(@post.published_on) %></p>
      <h1 class="text-4xl font-semibold tracking-tight text-stone-950 sm:text-5xl"><%= @post.title %></h1>

      <% if @post.tags.any? %>
        <div class="flex flex-wrap gap-2">
          <% @post.tags.each do |tag| %>
            <%= render "shared/tag", tag: %>
          <% end %>
        </div>
      <% end %>
    </header>
  </div>

  <div class="article-body">
    <%= @post.body_html.html_safe %>
  </div>
</article>
